/* Write your code here: */

h1,h2{
    color: blueviolet;
}
/* 
h2{
    color: blueviolet;
} */

/* p.done{
    color: firebrick;
} */

.box > p{
    color: firebrick;
}



.list {
    color: blue;
}

li.done{
    color: seagreen;
}

ul p.done{
    font-size: 0.5rem;
}

